*.asv

*.tif


./DataRename/__pycache__
./DataRename/{tem,venv,dist,Code/Lib}

DataRename/
.idea
**/__pycache__
./DataRename
gramm/
MINS-1.3/
NIfTI_20140122/
TiffSave/
**.png
**.m
masumhabib-PlotPub-fe51157/
